.abstract-page {
	background: $white-color;
	&-container {
		text-align: center;
		color: $neutral-dark-color;
		.fa-outer-class {
			margin: auto;
			width: 150px;
			height: 150px;
			border-radius: 75px;
			background-color: $neutral-color;
			text-align: center;
			.#{$prefix}fa:before {
				line-height: 150px;
				font-size: 80px;
				color: $neutral-dark-color;
			}
		}
		h1 {
			margin: 5px;
			line-height: 30px;
			font-weight: bold;
			font-size: 30px;
		}
	}
}