.#{$prefix}mask-msg-text {
	padding: $loadmask-msg-text-padding;
	background-image: theme-background-image($loadmask-msg-inner-icon, 'svg');
	background-repeat: no-repeat;
	background-position: $loadmask-msg-inner-icon-position;

	&.#{$prefix}ie {
		background-image: theme-background-image($loadmask-msg-inner-icon, 'gif');
	}
}
