$ui-md-green-button-default-background-color: dynamic(null);
$ui-md-green-button-default-glyph-color: dynamic($button-default-glyph-color);
$ui-md-green-button-default-border-color: dynamic(null);
$ui-md-green-button-default-background-gradient: dynamic($button-default-background-gradient);
$ui-md-green-button-icon-spacing: dynamic($button-medium-icon-spacing);
$ui-md-green-button-default-inner-border-color: dynamic(null);
$ui-md-green-button-default-inner-border-width: dynamic(null);
$ui-md-green-button-default-color: dynamic(null);
$ui-md-green-button-small-border-width: dynamic($button-small-border-width);
$ui-md-green-button-small-border-radius: dynamic($button-small-border-radius);
$ui-md-green-button-small-padding: dynamic($button-small-padding);
$ui-md-green-button-small-font-family: dynamic(null);
$ui-md-green-button-small-font-size: dynamic(null);
$ui-md-green-button-small-font-weight: dynamic(null);
$ui-md-green-button-small-text-padding: dynamic($button-small-text-padding);
$ui-md-green-button-small-glyph-font-size: dynamic($button-small-glyph-font-size);
$ui-md-green-button-small-icon-spacing: dynamic($button-small-icon-spacing);
$ui-md-green-button-small-icon-size: dynamic($button-small-icon-size);
$ui-md-green-button-small-line-height: dynamic($button-small-line-height);
$ui-md-green-button-medium-border-width: dynamic($button-medium-border-width);
$ui-md-green-button-medium-border-radius: dynamic($button-medium-border-radius);
$ui-md-green-button-medium-padding: dynamic($button-medium-padding);
$ui-md-green-button-medium-font-family: dynamic(null);
$ui-md-green-button-medium-font-size: dynamic(null);
$ui-md-green-button-medium-font-weight: dynamic(null);
$ui-md-green-button-medium-text-padding: dynamic($button-medium-text-padding);
$ui-md-green-button-medium-glyph-font-size: dynamic($button-medium-glyph-font-size);
$ui-md-green-button-medium-icon-spacing: dynamic($button-medium-icon-spacing);
$ui-md-green-button-medium-icon-size: dynamic($button-medium-icon-size);
$ui-md-green-button-medium-line-height: dynamic($button-medium-line-height);
$ui-md-green-button-large-border-width: dynamic($button-large-border-width);
$ui-md-green-button-large-border-radius: dynamic($button-large-border-radius);
$ui-md-green-button-large-padding: dynamic($button-large-padding);
$ui-md-green-button-large-font-family: dynamic(null);
$ui-md-green-button-large-font-size: dynamic(null);
$ui-md-green-button-large-font-weight: dynamic(null);
$ui-md-green-button-large-text-padding: dynamic($button-large-text-padding);
$ui-md-green-button-large-glyph-font-size: dynamic($button-large-glyph-font-size);
$ui-md-green-button-large-icon-spacing: dynamic($button-large-icon-spacing);
$ui-md-green-button-large-icon-size: dynamic($button-large-icon-size);
$ui-md-green-button-large-line-height: dynamic($button-large-line-height);
$ui-md-green-button-default-background-color-disabled: dynamic(null);
$ui-md-green-button-default-border-color-disabled: dynamic(null);
$ui-md-green-button-default-background-gradient-disabled: dynamic($button-default-background-gradient-disabled);
$ui-md-green-button-default-inner-border-color-disabled: dynamic(null);
$ui-md-green-button-default-inner-border-width-disabled: dynamic(null);
$ui-md-green-button-default-background-color-focus: dynamic(null);
$ui-md-green-button-default-border-color-focus: dynamic(null);
$ui-md-green-button-default-background-gradient-focus: dynamic($button-default-background-gradient-focus);
$ui-md-green-button-default-inner-border-color-focus: dynamic(null);
$ui-md-green-button-default-inner-border-width-focus: dynamic(null);
$ui-md-green-button-default-body-outline-color-focus: dynamic($button-default-body-outline-color-focus);
$ui-md-green-button-default-body-outline-style-focus: dynamic($button-default-body-outline-style-focus);
$ui-md-green-button-default-body-outline-width-focus: dynamic($button-default-body-outline-width-focus);
$ui-md-green-button-default-background-color-focus-over: dynamic(null);
$ui-md-green-button-default-border-color-focus-over: dynamic(null);
$ui-md-green-button-default-background-gradient-focus-over: dynamic($button-default-background-gradient-focus-over);
$ui-md-green-button-default-inner-border-color-focus-over: dynamic(null);
$ui-md-green-button-default-inner-border-width-focus-over: dynamic(null);
$ui-md-green-button-default-background-color-focus-pressed: dynamic(null);
$ui-md-green-button-default-border-color-focus-pressed: dynamic(null);
$ui-md-green-button-default-background-gradient-focus-pressed: dynamic($button-default-background-gradient-focus-pressed);
$ui-md-green-button-default-inner-border-color-focus-pressed: dynamic(null);
$ui-md-green-button-default-inner-border-width-focus-pressed: dynamic(null);
$ui-md-green-button-default-background-color-over: dynamic(null);
$ui-md-green-button-default-border-color-over: dynamic(null);
$ui-md-green-button-default-background-gradient-over: dynamic($button-default-background-gradient-over);
$ui-md-green-button-default-inner-border-color-over: dynamic(null);
$ui-md-green-button-default-inner-border-width-over: dynamic(null);
$ui-md-yellow-button-default-background-color: dynamic(null);
$ui-md-yellow-button-default-glyph-color: dynamic($button-default-glyph-color);
$ui-md-yellow-button-default-border-color: dynamic(null);
$ui-md-yellow-button-default-background-gradient: dynamic($button-default-background-gradient);
$ui-md-yellow-button-icon-spacing: dynamic($button-medium-icon-spacing);
$ui-md-yellow-button-default-inner-border-color: dynamic(null);
$ui-md-yellow-button-default-inner-border-width: dynamic(null);
$ui-md-yellow-button-default-color: dynamic(null);
$ui-md-yellow-button-small-border-width: dynamic($button-small-border-width);
$ui-md-yellow-button-small-border-radius: dynamic($button-small-border-radius);
$ui-md-yellow-button-small-padding: dynamic($button-small-padding);
$ui-md-yellow-button-small-font-family: dynamic(null);
$ui-md-yellow-button-small-font-size: dynamic(null);
$ui-md-yellow-button-small-font-weight: dynamic(null);
$ui-md-yellow-button-small-text-padding: dynamic($button-small-text-padding);
$ui-md-yellow-button-small-glyph-font-size: dynamic($button-small-glyph-font-size);
$ui-md-yellow-button-small-icon-spacing: dynamic($button-small-icon-spacing);
$ui-md-yellow-button-small-icon-size: dynamic($button-small-icon-size);
$ui-md-yellow-button-small-line-height: dynamic($button-small-line-height);
$ui-md-yellow-button-medium-border-width: dynamic($button-medium-border-width);
$ui-md-yellow-button-medium-border-radius: dynamic($button-medium-border-radius);
$ui-md-yellow-button-medium-padding: dynamic($button-medium-padding);
$ui-md-yellow-button-medium-font-family: dynamic(null);
$ui-md-yellow-button-medium-font-size: dynamic(null);
$ui-md-yellow-button-medium-font-weight: dynamic(null);
$ui-md-yellow-button-medium-text-padding: dynamic($button-medium-text-padding);
$ui-md-yellow-button-medium-glyph-font-size: dynamic($button-medium-glyph-font-size);
$ui-md-yellow-button-medium-icon-spacing: dynamic($button-medium-icon-spacing);
$ui-md-yellow-button-medium-icon-size: dynamic($button-medium-icon-size);
$ui-md-yellow-button-medium-line-height: dynamic($button-medium-line-height);
$ui-md-yellow-button-large-border-width: dynamic($button-large-border-width);
$ui-md-yellow-button-large-border-radius: dynamic($button-large-border-radius);
$ui-md-yellow-button-large-padding: dynamic($button-large-padding);
$ui-md-yellow-button-large-font-family: dynamic(null);
$ui-md-yellow-button-large-font-size: dynamic(null);
$ui-md-yellow-button-large-font-weight: dynamic(null);
$ui-md-yellow-button-large-text-padding: dynamic($button-large-text-padding);
$ui-md-yellow-button-large-glyph-font-size: dynamic($button-large-glyph-font-size);
$ui-md-yellow-button-large-icon-spacing: dynamic($button-large-icon-spacing);
$ui-md-yellow-button-large-icon-size: dynamic($button-large-icon-size);
$ui-md-yellow-button-large-line-height: dynamic($button-large-line-height);
$ui-md-yellow-button-default-background-color-disabled: dynamic(null);
$ui-md-yellow-button-default-border-color-disabled: dynamic(null);
$ui-md-yellow-button-default-background-gradient-disabled: dynamic($button-default-background-gradient-disabled);
$ui-md-yellow-button-default-inner-border-color-disabled: dynamic(null);
$ui-md-yellow-button-default-inner-border-width-disabled: dynamic(null);
$ui-md-yellow-button-default-background-color-focus: dynamic(null);
$ui-md-yellow-button-default-border-color-focus: dynamic(null);
$ui-md-yellow-button-default-background-gradient-focus: dynamic($button-default-background-gradient-focus);
$ui-md-yellow-button-default-inner-border-color-focus: dynamic(null);
$ui-md-yellow-button-default-inner-border-width-focus: dynamic(null);
$ui-md-yellow-button-default-body-outline-color-focus: dynamic($button-default-body-outline-color-focus);
$ui-md-yellow-button-default-body-outline-style-focus: dynamic($button-default-body-outline-style-focus);
$ui-md-yellow-button-default-body-outline-width-focus: dynamic($button-default-body-outline-width-focus);
$ui-md-yellow-button-default-background-color-focus-over: dynamic(null);
$ui-md-yellow-button-default-border-color-focus-over: dynamic(null);
$ui-md-yellow-button-default-background-gradient-focus-over: dynamic($button-default-background-gradient-focus-over);
$ui-md-yellow-button-default-inner-border-color-focus-over: dynamic(null);
$ui-md-yellow-button-default-inner-border-width-focus-over: dynamic(null);
$ui-md-yellow-button-default-background-color-focus-pressed: dynamic(null);
$ui-md-yellow-button-default-border-color-focus-pressed: dynamic(null);
$ui-md-yellow-button-default-background-gradient-focus-pressed: dynamic($button-default-background-gradient-focus-pressed);
$ui-md-yellow-button-default-inner-border-color-focus-pressed: dynamic(null);
$ui-md-yellow-button-default-inner-border-width-focus-pressed: dynamic(null);
$ui-md-yellow-button-default-background-color-over: dynamic(null);
$ui-md-yellow-button-default-border-color-over: dynamic(null);
$ui-md-yellow-button-default-background-gradient-over: dynamic($button-default-background-gradient-over);
$ui-md-yellow-button-default-inner-border-color-over: dynamic(null);
$ui-md-yellow-button-default-inner-border-width-over: dynamic(null);
$ui-md-red-button-default-background-color: dynamic(null);
$ui-md-red-button-default-glyph-color: dynamic($button-default-glyph-color);
$ui-md-red-button-default-border-color: dynamic(null);
$ui-md-red-button-default-background-gradient: dynamic($button-default-background-gradient);
$ui-md-red-button-icon-spacing: dynamic($button-medium-icon-spacing);
$ui-md-red-button-default-inner-border-color: dynamic(null);
$ui-md-red-button-default-inner-border-width: dynamic(null);
$ui-md-red-button-default-color: dynamic(null);
$ui-md-red-button-small-border-width: dynamic($button-small-border-width);
$ui-md-red-button-small-border-radius: dynamic($button-small-border-radius);
$ui-md-red-button-small-padding: dynamic($button-small-padding);
$ui-md-red-button-small-font-family: dynamic(null);
$ui-md-red-button-small-font-size: dynamic(null);
$ui-md-red-button-small-font-weight: dynamic(null);
$ui-md-red-button-small-text-padding: dynamic($button-small-text-padding);
$ui-md-red-button-small-glyph-font-size: dynamic($button-small-glyph-font-size);
$ui-md-red-button-small-icon-spacing: dynamic($button-small-icon-spacing);
$ui-md-red-button-small-icon-size: dynamic($button-small-icon-size);
$ui-md-red-button-small-line-height: dynamic($button-small-line-height);
$ui-md-red-button-medium-border-width: dynamic($button-medium-border-width);
$ui-md-red-button-medium-border-radius: dynamic($button-medium-border-radius);
$ui-md-red-button-medium-padding: dynamic($button-medium-padding);
$ui-md-red-button-medium-font-family: dynamic(null);
$ui-md-red-button-medium-font-size: dynamic(null);
$ui-md-red-button-medium-font-weight: dynamic(null);
$ui-md-red-button-medium-text-padding: dynamic($button-medium-text-padding);
$ui-md-red-button-medium-glyph-font-size: dynamic($button-medium-glyph-font-size);
$ui-md-red-button-medium-icon-spacing: dynamic($button-medium-icon-spacing);
$ui-md-red-button-medium-icon-size: dynamic($button-medium-icon-size);
$ui-md-red-button-medium-line-height: dynamic($button-medium-line-height);
$ui-md-red-button-large-border-width: dynamic($button-large-border-width);
$ui-md-red-button-large-border-radius: dynamic($button-large-border-radius);
$ui-md-red-button-large-padding: dynamic($button-large-padding);
$ui-md-red-button-large-font-family: dynamic(null);
$ui-md-red-button-large-font-size: dynamic(null);
$ui-md-red-button-large-font-weight: dynamic(null);
$ui-md-red-button-large-text-padding: dynamic($button-large-text-padding);
$ui-md-red-button-large-glyph-font-size: dynamic($button-large-glyph-font-size);
$ui-md-red-button-large-icon-spacing: dynamic($button-large-icon-spacing);
$ui-md-red-button-large-icon-size: dynamic($button-large-icon-size);
$ui-md-red-button-large-line-height: dynamic($button-large-line-height);
$ui-md-red-button-default-background-color-disabled: dynamic(null);
$ui-md-red-button-default-border-color-disabled: dynamic(null);
$ui-md-red-button-default-background-gradient-disabled: dynamic($button-default-background-gradient-disabled);
$ui-md-red-button-default-inner-border-color-disabled: dynamic(null);
$ui-md-red-button-default-inner-border-width-disabled: dynamic(null);
$ui-md-red-button-default-background-color-focus: dynamic(null);
$ui-md-red-button-default-border-color-focus: dynamic(null);
$ui-md-red-button-default-background-gradient-focus: dynamic($button-default-background-gradient-focus);
$ui-md-red-button-default-inner-border-color-focus: dynamic(null);
$ui-md-red-button-default-inner-border-width-focus: dynamic(null);
$ui-md-red-button-default-body-outline-color-focus: dynamic($button-default-body-outline-color-focus);
$ui-md-red-button-default-body-outline-style-focus: dynamic($button-default-body-outline-style-focus);
$ui-md-red-button-default-body-outline-width-focus: dynamic($button-default-body-outline-width-focus);
$ui-md-red-button-default-background-color-focus-over: dynamic(null);
$ui-md-red-button-default-border-color-focus-over: dynamic(null);
$ui-md-red-button-default-background-gradient-focus-over: dynamic($button-default-background-gradient-focus-over);
$ui-md-red-button-default-inner-border-color-focus-over: dynamic(null);
$ui-md-red-button-default-inner-border-width-focus-over: dynamic(null);
$ui-md-red-button-default-background-color-focus-pressed: dynamic(null);
$ui-md-red-button-default-border-color-focus-pressed: dynamic(null);
$ui-md-red-button-default-background-gradient-focus-pressed: dynamic($button-default-background-gradient-focus-pressed);
$ui-md-red-button-default-inner-border-color-focus-pressed: dynamic(null);
$ui-md-red-button-default-inner-border-width-focus-pressed: dynamic(null);
$ui-md-red-button-default-background-color-over: dynamic(null);
$ui-md-red-button-default-border-color-over: dynamic(null);
$ui-md-red-button-default-background-gradient-over: dynamic($button-default-background-gradient-over);
$ui-md-red-button-default-inner-border-color-over: dynamic(null);
$ui-md-red-button-default-inner-border-width-over: dynamic(null);
$ui-md-blue-button-default-background-color: dynamic(null);
$ui-md-blue-button-default-glyph-color: dynamic($button-default-glyph-color);
$ui-md-blue-button-default-border-color: dynamic(null);
$ui-md-blue-button-default-background-gradient: dynamic($button-default-background-gradient);
$ui-md-blue-button-icon-spacing: dynamic($button-medium-icon-spacing);
$ui-md-blue-button-default-inner-border-color: dynamic(null);
$ui-md-blue-button-default-inner-border-width: dynamic(null);
$ui-md-blue-button-default-color: dynamic(null);
$ui-md-blue-button-small-border-width: dynamic($button-small-border-width);
$ui-md-blue-button-small-border-radius: dynamic($button-small-border-radius);
$ui-md-blue-button-small-padding: dynamic($button-small-padding);
$ui-md-blue-button-small-font-family: dynamic(null);
$ui-md-blue-button-small-font-size: dynamic(null);
$ui-md-blue-button-small-font-weight: dynamic(null);
$ui-md-blue-button-small-text-padding: dynamic($button-small-text-padding);
$ui-md-blue-button-small-glyph-font-size: dynamic($button-small-glyph-font-size);
$ui-md-blue-button-small-icon-spacing: dynamic($button-small-icon-spacing);
$ui-md-blue-button-small-icon-size: dynamic($button-small-icon-size);
$ui-md-blue-button-small-line-height: dynamic($button-small-line-height);
$ui-md-blue-button-medium-border-width: dynamic($button-medium-border-width);
$ui-md-blue-button-medium-border-radius: dynamic($button-medium-border-radius);
$ui-md-blue-button-medium-padding: dynamic($button-medium-padding);
$ui-md-blue-button-medium-font-family: dynamic(null);
$ui-md-blue-button-medium-font-size: dynamic(null);
$ui-md-blue-button-medium-font-weight: dynamic(null);
$ui-md-blue-button-medium-text-padding: dynamic($button-medium-text-padding);
$ui-md-blue-button-medium-glyph-font-size: dynamic($button-medium-glyph-font-size);
$ui-md-blue-button-medium-icon-spacing: dynamic($button-medium-icon-spacing);
$ui-md-blue-button-medium-icon-size: dynamic($button-medium-icon-size);
$ui-md-blue-button-medium-line-height: dynamic($button-medium-line-height);
$ui-md-blue-button-large-border-width: dynamic($button-large-border-width);
$ui-md-blue-button-large-border-radius: dynamic($button-large-border-radius);
$ui-md-blue-button-large-padding: dynamic($button-large-padding);
$ui-md-blue-button-large-font-family: dynamic(null);
$ui-md-blue-button-large-font-size: dynamic(null);
$ui-md-blue-button-large-font-weight: dynamic(null);
$ui-md-blue-button-large-text-padding: dynamic($button-large-text-padding);
$ui-md-blue-button-large-glyph-font-size: dynamic($button-large-glyph-font-size);
$ui-md-blue-button-large-icon-spacing: dynamic($button-large-icon-spacing);
$ui-md-blue-button-large-icon-size: dynamic($button-large-icon-size);
$ui-md-blue-button-large-line-height: dynamic($button-large-line-height);
$ui-md-blue-button-default-background-color-disabled: dynamic(null);
$ui-md-blue-button-default-border-color-disabled: dynamic(null);
$ui-md-blue-button-default-background-gradient-disabled: dynamic($button-default-background-gradient-disabled);
$ui-md-blue-button-default-inner-border-color-disabled: dynamic(null);
$ui-md-blue-button-default-inner-border-width-disabled: dynamic(null);
$ui-md-blue-button-default-background-color-focus: dynamic(null);
$ui-md-blue-button-default-border-color-focus: dynamic(null);
$ui-md-blue-button-default-background-gradient-focus: dynamic($button-default-background-gradient-focus);
$ui-md-blue-button-default-inner-border-color-focus: dynamic(null);
$ui-md-blue-button-default-inner-border-width-focus: dynamic(null);
$ui-md-blue-button-default-body-outline-color-focus: dynamic($button-default-body-outline-color-focus);
$ui-md-blue-button-default-body-outline-style-focus: dynamic($button-default-body-outline-style-focus);
$ui-md-blue-button-default-body-outline-width-focus: dynamic($button-default-body-outline-width-focus);
$ui-md-blue-button-default-background-color-focus-over: dynamic(null);
$ui-md-blue-button-default-border-color-focus-over: dynamic(null);
$ui-md-blue-button-default-background-gradient-focus-over: dynamic($button-default-background-gradient-focus-over);
$ui-md-blue-button-default-inner-border-color-focus-over: dynamic(null);
$ui-md-blue-button-default-inner-border-width-focus-over: dynamic(null);
$ui-md-blue-button-default-background-color-focus-pressed: dynamic(null);
$ui-md-blue-button-default-border-color-focus-pressed: dynamic(null);
$ui-md-blue-button-default-background-gradient-focus-pressed: dynamic($button-default-background-gradient-focus-pressed);
$ui-md-blue-button-default-inner-border-color-focus-pressed: dynamic(null);
$ui-md-blue-button-default-inner-border-width-focus-pressed: dynamic(null);
$ui-md-blue-button-default-background-color-over: dynamic(null);
$ui-md-blue-button-default-border-color-over: dynamic(null);
$ui-md-blue-button-default-background-gradient-over: dynamic($button-default-background-gradient-over);
$ui-md-blue-button-default-inner-border-color-over: dynamic(null);
$ui-md-blue-button-default-inner-border-width-over: dynamic(null);
$ui-fieldset-without-padding-fieldset-border-color: dynamic($fieldset-border-color);
$ui-fieldset-without-padding-fieldset-border-width: dynamic($fieldset-border-width);
$ui-fieldset-without-padding-fieldset-border-style: dynamic($fieldset-border-style);
$ui-fieldset-without-padding-fieldset-border-radius: dynamic($fieldset-border-radius);
$ui-fieldset-without-padding-fieldset-checkbox-margin: dynamic($fieldset-checkbox-margin);
$ui-fieldset-without-padding-fieldset-collapse-tool-padding: dynamic($fieldset-collapse-tool-padding);
$ui-fieldset-without-padding-fieldset-collapse-tool-size: dynamic($fieldset-collapse-tool-size);
$ui-fieldset-without-padding-fieldset-margin: dynamic($fieldset-margin);
$ui-fieldset-without-padding-fieldset-padding: dynamic($fieldset-padding);
$ui-fieldset-without-padding-fieldset-header-color: dynamic($fieldset-header-color);
$ui-fieldset-without-padding-fieldset-header-font-family: dynamic($fieldset-header-font-family);
$ui-fieldset-without-padding-fieldset-header-font-size: dynamic($fieldset-header-font-size);
$ui-fieldset-without-padding-fieldset-header-font-weight: dynamic($fieldset-header-font-weight);
$ui-fieldset-without-padding-fieldset-header-line-height: dynamic($fieldset-header-line-height);
$ui-fieldset-without-padding-fieldset-header-padding: dynamic($fieldset-header-padding);