.with-all-border {
  border: 1px solid #d4d4d4;
}

.with-bottom-border {
  border-bottom: 1px solid #f1f1f1;
}

.map-orange-color {
  color: #F57F17;
}

.map-yellow-color {
  color: #FFD600;
}

.map-blue-color {
  color: #0288D1;
}

.map-gray-color {
  color: #424242;
}

.map-green-color {
  color: #8bc34a;
}

.map-red-color {
  color: #d32f2f;
}

@keyframes round {
  to {width: 100px; height: 100px; opacity: 0; border: 3px solid rgba(211, 47, 47, 0);}
}

.map-marker {
  positon: relative;
  .map-circle-red {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background: #F2F2F2;
    opacity: 0.5;
    border: 3px solid rgb(211, 47, 47);
    border-radius: 50%;
    animation: round 2s infinite ease-out;
  }
  .map-icon-red {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .x-fa {
      font-size: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: rgb(211, 47, 47);
    }
  }
  .map-circle-blue {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid rgba(0, 79, 163, 0.5);
    background: #f2f2f2;
    opacity: 0.8;
    -webkit-transition: width 0.5s, height 0.5s;
    -moz-transition: width 0.5s, height 0.5s;
    -ms-transition: width 0.5s, height 0.5s;
    transition: width 0.5s, height 0.5s;
  }
  .map-icon-blue {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    .x-fa {
      font-size: 16px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: rgb(0, 79, 163);
	  margin-top: 1px;
    }
  }
}