.main-toolbar {
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
	&-logo-text, &-logo-version {
		font-size: 18px;
		font-weight: bold;
		color: $main-toolbar-jet-color;
	}
	label:hover&-logo-text {
		cursor: pointer;
	}
	&-logo-version sup {
		font-size: 12px;
	}
	&-user-icon {
		background: url(images/user.svg) $main-toolbar-orange-color no-repeat;
		background-size: 30px 30px;
		border-radius: 25px;
	}
	.#{$prefix}btn {
		background-color: $white-color;
		border: none;
		&.notification-btn {
			&.#{$prefix}btn-over,
			&.#{$prefix}btn-menu-active,
			&.#{$prefix}btn-pressed {
				background-color: $white-color;
				border: none;
				.#{$prefix}btn-icon-el {
					color: $main-toolbar-yellow-color;
				}
			}
		}
		&.user-btn {
			.#{$prefix}btn-icon-el {
				width: 30px;
				height: 30px;
			}
			&.#{$prefix}btn-menu-active,
			&.#{$prefix}btn-pressed {
				background-color: $white-color;
				border: none;
			}
		}
		&.#{$prefix}btn-over {
			background-color: $white-color;
			border: none;
			.#{$prefix}btn-icon-el {
				color: $base-color;
			}
			.#{$prefix}btn-inner {
				color: $base-color;
			}
		}
		&.#{$prefix}btn-default-medium {
			&.#{$prefix}btn-disabled {
				background-color: $white-color;
			}
			&.#{$prefix}btn-focus {
				background-color: $white-color;
				border: none;
			}
			&.#{$prefix}btn-menu-active {
				background-color: $white-color;
				border: none;
				.#{$prefix}btn-icon-el {
					color: $base-color;
				}
				.#{$prefix}btn-inner {
					color: $base-color;
				}
			}
			&.#{$prefix}btn-pressed {
				background-color: $white-color;
				border: none;
				box-shadow: inset 0 129px 0 -126px $base-color;
				.#{$prefix}btn-icon-el {
					color: $base-color;
				}
				.#{$prefix}btn-inner {
					color: $base-color;
				}
			}
		}
		.#{$prefix}btn-icon-el {
			color: $neutral-dark-color;
		}
		.#{$prefix}btn-inner {
			color: $neutral-dark-color;
			font-weight: bold;
		}
	}
}
