.base-circle-telemetry {
  border: 1px solid black;
  border-radius: 50%;
}

.negative-circle-telemetry {
  border-color: #E57373;
}

.base-value-telemetry {
  font-size: 30px;
}

.negative-color-telemetry {
  color: #E57373;
}

.color-white {
  color: #fff;
}

.color-black {
  color: #000;
}