.base-circle {
  border: 4px double black;
  border-radius: 50%;
}

.negative-circle {
  border-color: $red-color;
}

.base-value {
  font-size: 40px;
}

.large-icon {
  text-align: center;
  line-height: 50px;
  font-size: 48px;
}

.medium-icon {
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 40px;
}

.small-icon {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 24px;
}

.negative-color {
  color: $red-color;
}