@keyframes loader-ellipse-3 {
    0%, 25% {
        left: 32px;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    50% {
        left: 32px;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    75% {
        left: 100px;
    }
    100% {
        left: 168px;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@-webkit-keyframes loader-ellipse-3 {
    0%, 25% {
        left: 32px;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    50% {
        left: 32px;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    75% {
        left: 100px;
    }
    100% {
        left: 168px;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes loader-ellipse-2 {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    25%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
}
@-webkit-keyframes loader-ellipse-2 {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    25%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
}
@keyframes loader-ellipse-1 {
    0% {
        left: 32px;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    25% {
        left: 32px;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        left: 100px;
    }
    75% {
        left: 168px;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        left: 168px;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
}
@-webkit-keyframes loader-ellipse-1 {
    0% {
        left: 32px;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    25% {
        left: 32px;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        left: 100px;
    }
    75% {
        left: 168px;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        left: 168px;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
}

#loader {
    width:100px;
    height:100px;
    z-index: 10000;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transform: translate(-50px, -50px) scale(0.5) translate(50px, 50px);
    transform: translate(-50px, -50px) scale(0.5) translate(50px, 50px);
}

#loader > div {
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
}
#loader div > div {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    top: 100px;
    left: 32px;
    -webkit-animation: loader-ellipse-1 3s cubic-bezier(0, 0.5, 0.5, 1) infinite forwards;
    animation: loader-ellipse-1 3s cubic-bezier(0, 0.5, 0.5, 1) infinite forwards;
}
#loader div:nth-child(1) div {
    -webkit-animation: loader-ellipse-2 3s cubic-bezier(0, 0.5, 0.5, 1) infinite forwards;
    animation: loader-ellipse-2 3s cubic-bezier(0, 0.5, 0.5, 1) infinite forwards;
    background: #3b4368;
}
#loader div:nth-child(2) div {
    -webkit-animation-delay: -1.5s;
    animation-delay: -1.5s;
    background: #5e6fa3;
}
#loader div:nth-child(3) div {
    -webkit-animation-delay: -0.75s;
    animation-delay: -0.75s;
    background: #689cc5;
}
#loader div:nth-child(4) div {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    background: #93dbe9;
}
#loader div:nth-child(5) div {
    -webkit-animation: loader-ellipse-3 3s cubic-bezier(0, 0.5, 0.5, 1) infinite forwards;
    animation: loader-ellipse-3 3s cubic-bezier(0, 0.5, 0.5, 1) infinite forwards;
    background: #3b4368;
}

div.tabpanel-filter-host a.x-tab-over, div.tabpanel-filter-host a.x-tab.x-tab-active.x-tab-default{
    background-color: #f3f1f3;
}

.severity-circle-green
{
    padding: 11px 11px;
    background: green;
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 15px;
    float: left;
    line-height: 20px;
}

.text-red
{
    color: red;
}

.component-state-circle
{
    padding: 11px 11px;
    background: #c3c3c3;
    border-radius: 100%;
    margin-right: auto;
    width: 15px;
    float: left;
    line-height: 20px;
    margin-left: 30%;
}

.background-green {
    background: #3dd110;
}

.background-yellow {
    background: yellow;
}

.background-red {
    background: red;
}

.text-align-center {
    text-align: center;
}
.text-white
{
    color: white;
}