/* Стиль для дочерних таб-панелей, например карточки, использовать с конфигурацией plain: true */
.child-tab-panel {
	background: #f2f2f2;
	padding: 0 5px 5px 5px;
}

.disabled-row {
	font-style: italic;
	color: #4f4f4f;
}